.animate{
  position: relative;
  top:0;
  transition: all 0.5s;
}
  input:focus~.animate,input:valid~.animate{
    top:-20px;


}
#fix{
  left:150px;

}
#fix2{
top:-20px;
}
.felement{
  border-radius: 50%;
}

.fa {
    width:70px;
    padding: 20px;
    text-align: center;
    vertical-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fa-facebook{
  background: #3B5998;
    color: white;

}
.fa-envelope{
  background: white;
    color: black;

}
.fa-instagram{
  background: #e60099;
    color: white;
}
.r{
  position: relative;
  top:10px;
}
